.*
!.vscode
!.gitignore
!.gitmodules
!.envrc
!.prettierrc
!.prettierignore
!.github
!.env.example

node_modules/
build/
out/
dist/
broadcast/
cache/

*.tsbuildinfo

# Postgres data volume
/infra/postgres/data/
/infra/amp/data
/infra/amp/datasets
/infra/amp/providers/*.toml
/infra/amp/anvil.json
!/infra/amp/providers/anvil.toml

# env
.env*
!.env.example
!.env.production.example
